# POWER CONSUMPTION IN EUROPE

### Import Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

### Read Files

In [2]:
# Europe Demography 2011-2020 from Eurostat

demo = pd.read_csv('../dataset/demo_pjan_1_Data.csv')

In [3]:
# Power Consumption by country 2015-2020 from Kaggle

at = pd.read_csv('../dataset/at.csv')
be = pd.read_csv('../dataset/be.csv')
ch = pd.read_csv('../dataset/ch.csv')
de = pd.read_csv('../dataset/de.csv')
dk = pd.read_csv('../dataset/dk.csv')
es = pd.read_csv('../dataset/es.csv')
fr = pd.read_csv('../dataset/fr.csv')
gb = pd.read_csv('../dataset/gb.csv')
ir = pd.read_csv('../dataset/ie.csv')
it = pd.read_csv('../dataset/it.csv')
no = pd.read_csv('../dataset/no.csv')
lu = pd.read_csv('../dataset/lu.csv')
nl = pd.read_csv('../dataset/nl.csv')
pt = pd.read_csv('../dataset/pt.csv')
se = pd.read_csv('../dataset/se.csv')

### Data Cleaning and Wrangling

#### Drop duplicates

In [4]:
demo.drop_duplicates()

at.drop_duplicates()
be.drop_duplicates()
ch.drop_duplicates()
de.drop_duplicates()
dk.drop_duplicates()
es.drop_duplicates()
fr.drop_duplicates()
gb.drop_duplicates()
ir.drop_duplicates()
it.drop_duplicates()
lu.drop_duplicates()
nl.drop_duplicates()
no.drop_duplicates()
pt.drop_duplicates()
se.drop_duplicates()

                           start                        end     load
0      2015-01-01 00:00:00+00:00  2015-01-01 01:00:00+00:00  14726.0
1      2015-01-01 01:00:00+00:00  2015-01-01 02:00:00+00:00  14485.0
2      2015-01-01 02:00:00+00:00  2015-01-01 03:00:00+00:00  14298.0
3      2015-01-01 03:00:00+00:00  2015-01-01 04:00:00+00:00  14249.0
4      2015-01-01 04:00:00+00:00  2015-01-01 05:00:00+00:00  14268.0
...                          ...                        ...      ...
48882  2020-07-31 19:00:00+00:00  2020-07-31 20:00:00+00:00  11880.0
48883  2020-07-31 20:00:00+00:00  2020-07-31 21:00:00+00:00  11666.0
48884  2020-07-31 21:00:00+00:00  2020-07-31 22:00:00+00:00  10977.0
48885  2020-07-31 22:00:00+00:00  2020-07-31 23:00:00+00:00  10430.0
48886  2020-07-31 23:00:00+00:00  2020-08-01 00:00:00+00:00  10152.0

[48887 rows x 3 columns]

#### Data types

In [5]:
demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TIME                590 non-null    int64
 1   GEO                 590 non-null    object
 2   AGE                 590 non-null    object
 3   SEX                 590 non-null    object
 4   UNIT                590 non-null    object
 5   Value               590 non-null    object
 6   Flag and Footnotes  79 non-null     object
dtypes: int64(1), object(6)
memory usage: 32.4+ KB

In [6]:
at.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195744 entries, 0 to 195743
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   start   195744 non-null  object
 1   end     195744 non-null  object
 2   load    195744 non-null  float64
dtypes: float64(1), object(2)
memory usage: 4.5+ MB

In [7]:
be.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195744 entries, 0 to 195743
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   start   195744 non-null  object
 1   end     195744 non-null  object
 2   load    195744 non-null  float64
dtypes: float64(1), object(2)
memory usage: 4.5+ MB

In [8]:
ch.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48936 entries, 0 to 48935
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   start   48936 non-null  object
 1   end     48936 non-null  object
 2   load    48936 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.1+ MB

In [9]:
de.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198721 entries, 0 to 198720
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   start   198721 non-null  object
 1   end     198721 non-null  object
 2   load    198714 non-null  float64
dtypes: float64(1), object(2)
memory usage: 4.5+ MB

In [10]:
dk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48934 entries, 0 to 48933
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   start   48934 non-null  object
 1   end     48934 non-null  object
 2   load    48934 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.1+ MB

In [11]:
es.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48902 entries, 0 to 48901
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   start   48902 non-null  object
 1   end     48902 non-null  object
 2   load    48902 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.1+ MB

In [12]:
fr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48870 entries, 0 to 48869
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   start   48870 non-null  object
 1   end     48870 non-null  object
 2   load    48870 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.1+ MB

In [13]:
gb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97814 entries, 0 to 97813
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   start   97814 non-null  object
 1   end     97814 non-null  object
 2   load    97814 non-null  float64
dtypes: float64(1), object(2)
memory usage: 2.2+ MB

In [14]:
ir.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97148 entries, 0 to 97147
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   start   97148 non-null  object
 1   end     97148 non-null  object
 2   load    97148 non-null  float64
dtypes: float64(1), object(2)
memory usage: 2.2+ MB

In [15]:
it.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48936 entries, 0 to 48935
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   start   48936 non-null  object
 1   end     48936 non-null  object
 2   load    48936 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.1+ MB

In [16]:
lu.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 198721 entries, 0 to 198720
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   start   198721 non-null  object
 1   end     198721 non-null  object
 2   load    198593 non-null  float64
dtypes: float64(1), object(2)
memory usage: 4.5+ MB

In [17]:
nl.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 195744 entries, 0 to 195743
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   start   195744 non-null  object
 1   end     195744 non-null  object
 2   load    195744 non-null  float64
dtypes: float64(1), object(2)
memory usage: 4.5+ MB

In [18]:
no.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48819 entries, 0 to 48818
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   start   48819 non-null  object
 1   end     48819 non-null  object
 2   load    48819 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.1+ MB

In [19]:
pt.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48936 entries, 0 to 48935
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   start   48936 non-null  object
 1   end     48936 non-null  object
 2   load    48936 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.1+ MB

In [20]:
se.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48887 entries, 0 to 48886
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   start   48887 non-null  object
 1   end     48887 non-null  object
 2   load    48887 non-null  float64
dtypes: float64(1), object(2)
memory usage: 1.1+ MB

### Demo

- Data types
    - change ``Value`` to numeric
    - change ``TIME`` to datetime

In [21]:
demo['Value'] = pd.to_numeric(demo['Value'].apply(lambda x: x.replace(':', '').replace(',', '')))

In [22]:
demo['TIME'] = pd.to_datetime(demo['TIME'], format='%Y')

In [23]:
demo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   TIME                590 non-null    datetime64[ns]
 1   GEO                 590 non-null    object
 2   AGE                 590 non-null    object
 3   SEX                 590 non-null    object
 4   UNIT                590 non-null    object
 5   Value               533 non-null    float64
 6   Flag and Footnotes  79 non-null     object
dtypes: datetime64[ns](1), float64(1), object(5)
memory usage: 32.4+ KB

- Drop columns ``AGE``, ``SEX``, ``UNIT`` and ``Flag and Footnotes``
- Change name ``GEO`` for ``country``, ``TIME`` for ``year`` and ``Value`` for ``population``

In [24]:
demo = demo.drop(['AGE', 'SEX', 'UNIT', 'Flag and Footnotes'], axis=1)
demo = demo.rename(columns={'GEO' : 'Country', 'TIME' : 'year', 'Value' : 'population'})

- Select years from 2015 to 2020
- Select countries

In [25]:
demo = demo.loc[demo['year']>'2014']

In [26]:
countries = ['Austria', 'Belgium', 'Switzerland', 'Germany', 'Denmark', 'Spain', 'France', 'United Kingdom', 'Ireland',
             'Italy', 'Luxembourg', 'Netherlands', 'Norway', 'Portugal', 'Sweden']

In [27]:
demo = demo[demo['Country'].isin(countries)]

In [28]:
pop_country = demo.pivot(index='year', columns='Country', values='population').reset_index()

In [29]:
pop_country = pop_country.rename({'Austria' : 'At_pop', 'Belgium' : 'Be_pop', 'Switzerland': 'Ch_pop', 'Germany' :'De_pop',
                                          'Denmark' :'Dk_pop', 'Spain' : 'Es_pop', 'France' :  'Fr_pop', 'United Kingdom' : 'UK_pop',
                                          'Ireland' : 'Ir_pop', 'Italy' : 'It_pop', 'Luxembourg' : 'Lu_pop', 'Netherlands' : 'Nl_pop',
                                          'Norway' : 'No_pop', 'Portugal' : 'Pt_pop', 'Sweden' : 'Se_pop'}, axis=1)

In [30]:
pop_country.to_csv('pop_country.csv', index=False)

### Power Consumption


- Clean null values for ``load`` in **Germany** and **Luxembourg**

In [31]:
de['load'].fillna(value=de['load'].mean(), inplace=True)
lu['load'].fillna(value=lu['load'].mean(), inplace=True)

- Change ``start`` to datetime
- Drop ``end`` column
- Change name ``load`` for ``_country name_``
- Group by year in order to concatenate them

In [32]:
at['start'] = pd.to_datetime(at['start'])
at['year'] = pd.to_datetime(at['start']).dt.year
at.drop(['end', 'start'], axis=1)
clean_at = at.groupby(['year']).sum()
clean_at = clean_at.rename(columns={'load' : 'At_cons'})

In [33]:
be['start'] = pd.to_datetime(be['start'])
be['year'] = pd.to_datetime(be['start']).dt.year
be.drop(['end', 'start'], axis=1)
be.rename(columns={'load' : 'Belgium'})
clean_be = be.groupby(['year']).sum()
clean_be = clean_be.rename(columns={'load' : 'Be_cons'})

In [34]:
ch['start'] = pd.to_datetime(ch['start'])
ch['year'] = pd.to_datetime(ch['start']).dt.year
ch.drop(['end', 'start'], axis=1)
clean_ch = ch.groupby(['year']).sum()
clean_ch = clean_ch.rename(columns={'load' : 'Ch_cons'})

In [35]:
de['start'] = pd.to_datetime(de['start'])
de['year'] = pd.to_datetime(de['start']).dt.year
de.drop(['end', 'start'], axis=1)
clean_de = de.groupby(['year']).sum()
clean_de = clean_de.rename(columns={'load' : 'De_cons'})

In [36]:
dk['start'] = pd.to_datetime(dk['start'])
dk['year'] = pd.to_datetime(dk['start']).dt.year
dk.drop(['end', 'start'], axis=1)
clean_dk = dk.groupby(['year']).sum()
clean_dk = clean_dk.rename(columns={'load' : 'Dk_cons'})

In [37]:
es['start'] = pd.to_datetime(es['start'])
es['year'] = pd.to_datetime(es['start']).dt.year
es.drop(['end', 'start'], axis=1)
clean_es = es.groupby(['year']).sum()
clean_es = clean_es.rename(columns={'load' : 'Es_cons'})

In [38]:
fr['start'] = pd.to_datetime(fr['start'])
fr['year'] = pd.to_datetime(fr['start']).dt.year
fr.drop(['end', 'start'], axis=1)
clean_fr = fr.groupby(['year']).sum()
clean_fr = clean_fr.rename(columns={'load' : 'Fr_cons'})

In [39]:
gb['start'] = pd.to_datetime(gb['start'])
gb['year'] = pd.to_datetime(gb['start']).dt.year
gb.drop(['end', 'start'], axis=1)
clean_gb = gb.groupby(['year']).sum()
clean_gb = clean_gb.rename(columns={'load' : 'UK_cons'})

In [40]:
ir['start'] = pd.to_datetime(ir['start'])
ir['year'] = pd.to_datetime(ir['start']).dt.year
ir.drop(['end', 'start'], axis=1)
clean_ir = ir.groupby(['year']).sum()
clean_ir = clean_ir.rename(columns={'load' : 'Ir_cons'})

In [41]:
it['start'] = pd.to_datetime(it['start'])
it['year'] = pd.to_datetime(it['start']).dt.year
it.drop(['end', 'start'], axis=1)
clean_it = it.groupby(['year']).sum()
clean_it = clean_it.rename(columns={'load' : 'It_cons'})

In [42]:
lu['start'] = pd.to_datetime(lu['start'])
lu['year'] = pd.to_datetime(lu['start']).dt.year
lu.drop(['end', 'start'], axis=1)
clean_lu = lu.groupby(['year']).sum()
clean_lu = clean_lu.rename(columns={'load' : 'Lu_cons'})

In [43]:
nl['start'] = pd.to_datetime(nl['start'])
nl['year'] = pd.to_datetime(nl['start']).dt.year
nl.drop(['end', 'start'], axis=1)
clean_nl = nl = nl.groupby(['year']).sum()
clean_nl = clean_nl.rename(columns={'load' : 'Nl_cons'})

In [44]:
no['start'] = pd.to_datetime(no['start'])
no['year'] = pd.to_datetime(no['start']).dt.year
no.drop(['end', 'start'], axis=1)
clean_no = no.groupby(['year']).sum()
clean_no = clean_no.rename(columns={'load' : 'No_cons'})

In [45]:
pt['start'] = pd.to_datetime(pt['start'])
pt['year'] = pd.to_datetime(pt['start']).dt.year
pt.drop(['end', 'start'], axis=1)
clean_pt = pt.groupby(['year']).sum()
clean_pt = clean_pt.rename(columns={'load' : 'Pt_cons'})

In [46]:
se['start'] = pd.to_datetime(se['start'])
se['year'] = pd.to_datetime(se['start']).dt.year
se = se.drop(['end', 'start'], axis=1)
clean_se = se.groupby(['year']).sum()
clean_se = clean_se.rename(columns={'load' : 'Se_cons'})

- Concatenate dataframes

In [47]:
eu_cons = pd.concat([clean_at, clean_be, clean_ch, clean_de, clean_dk, clean_es, clean_fr,
                         clean_gb, clean_ir, clean_it, clean_lu, clean_nl, clean_no, clean_pt, clean_se], axis=1).reset_index()

In [48]:
def mega_to_giga(value):
    return round(value/1000, 2)

In [49]:
eu_cons[['At_cons', 'Be_cons', 'Ch_cons', 'De_cons', 'Dk_cons', 'Es_cons', 'Fr_cons', 'UK_cons', 'Ir_cons', 'It_cons',
             'Lu_cons', 'Nl_cons', 'No_cons', 'Pt_cons',
             'Se_cons']] = eu_cons[['At_cons', 'Be_cons', 'Ch_cons', 'De_cons', 'Dk_cons', 'Es_cons', 'Fr_cons', 'UK_cons', 'Ir_cons', 'It_cons',
             'Lu_cons', 'Nl_cons', 'No_cons', 'Pt_cons', 'Se_cons']].apply(mega_to_giga)

In [50]:
eu_cons.to_csv('europe_power_consumption.csv', index=False)

In [51]:
eu_cons

,year,At_cons,Be_cons,Ch_cons,De_cons,Dk_cons,Es_cons,Fr_cons,UK_cons,Ir_cons,It_cons,Lu_cons,Nl_cons,No_cons,Pt_cons,Se_cons
0,2015,236625.81,351986.16,56904.73,1917988.28,32819.04,247654.83,470012.92,652650.97,52529.79,288514.32,16983.13,391001.90,129005.56,48963.85,133218.72
1,2016,251107.74,347549.30,60234.51,1947987.45,32288.57,250411.68,477474.02,652718.89,53500.94,283262.97,17266.70,456014.90,132139.26,49269.93,138019.17
2,2017,254217.81,349335.12,59675.46,1968468.64,32468.82,252729.58,475934.94,602557.65,55248.99,291447.02,17226.30,455339.66,132888.54,49627.83,138118.44
3,2018,254593.38,349951.24,58914.55,1995551.64,33589.97,254539.71,470394.79,608979.48,57702.68,297252.84,15538.77,458883.96,135491.52,50903.76,138153.76
4,2019,252340.94,339796.76,57724.38,1961906.97,33540.03,249987.31,467000.41,594723.23,58066.49,294148.70,15302.15,455604.25,131708.79,50345.60,136396.37
5,2020,138968.03,186367.89,35494.14,1240820.36,19649.88,136760.28,256479.70,321130.81,32917.61,154995.55,9612.57,247225.26,77772.82,28061.53,77926.92

In [52]:
eu_pop = pd.read_csv('pop_country.csv')

# I decided to read the new csv file because of the index, it is less confusing than the other one

In [53]:
eu_cons_pop = pd.concat([eu_cons, eu_pop], axis=1).reset_index()
eu_cons_pop.to_csv('eu_cons_pop.csv', index=False)
eu_cons_pop

,index,year,At_cons,Be_cons,Ch_cons,De_cons,Dk_cons,Es_cons,Fr_cons,UK_cons,...,Ir_pop,It_pop,Lu_pop,Nl_pop,No_pop,Pt_pop,Es_pop,Se_pop,Ch_pop,UK_pop
0,0,2015,236625.81,351986.16,56904.73,1917988.28,32819.04,247654.83,470012.92,652650.97,...,4677627.0,60795612.0,562958.0,16900726.0,5166493.0,10374822.0,46449565.0,9747355.0,8237666.0,64853393.0
1,1,2016,251107.74,347549.30,60234.51,1947987.45,32288.57,250411.68,477474.02,652718.89,...,4726286.0,60665551.0,576249.0,16979120.0,5210721.0,10341330.0,46440099.0,9851017.0,8327126.0,65379044.0
2,2,2017,254217.81,349335.12,59675.46,1968468.64,32468.82,252729.58,475934.94,602557.65,...,4784383.0,60589445.0,590667.0,17081507.0,5258317.0,10309573.0,46528024.0,9995153.0,8419550.0,65844142.0
3,3,2018,254593.38,349951.24,58914.55,1995551.64,33589.97,254539.71,470394.79,608979.48,...,4830392.0,60483973.0,602005.0,17181084.0,5295619.0,10291027.0,46658447.0,10120242.0,8484130.0,66273576.0
4,4,2019,252340.94,339796.76,57724.38,1961906.97,33540.03,249987.31,467000.41,594723.23,...,4904240.0,59816673.0,613894.0,17282163.0,5328212.0,10276617.0,46937060.0,10230185.0,8544527.0,66647112.0
5,5,2020,138968.03,186367.89,35494.14,1240820.36,19649.88,136760.28,256479.70,321130.81,...,4964440.0,59641488.0,626108.0,17407585.0,5367580.0,10295909.0,47332614.0,10327589.0,8606033.0,67025542.0

### Visualisations
For visualisations go to [Julia](https://public.tableau.com/app/profile/julia.leon4960/viz/PowerConsumptioninEurope/line_consyear)'s Tableau profile